*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #001424;

}
.loader{
    position: relative;
    width: 200px;
    height: 200px;
}
.loader svg{
    position: absolute;
    top: 0;
    left: 0;

}
.loader svg circle{
    fill: none;
    stroke:  #fff;
    stroke-width: 10px ;
    animation: animate 2s linear infinite;
    stroke-linecap: round;
}
@keyframes animate 
{
    0%
    {
        stroke-dasharray: 315;
        stroke-dashoffset: 315;
    }
    50%
    {
        stroke-dasharray: 315;
        stroke-dashoffset: 0;
    }
    75%
    {
        stroke-dasharray: 315;
        stroke-dashoffset: -315;
    }
    100%
    {
        stroke-dasharray: 315;
        stroke-dashoffset: -315;
    }
}
